{% trans_default_domain 'FOSUserBundle' %}
<div id="reset-password" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">{{ 'Reset password'|trans }}</div>
        </div>

        <div style="padding-top:30px" class="panel-body">

            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                <label for="username">{{ 'resetting.request.username'|trans }}</label>
                <input type="text" placeholder="{{ 'resetting.request.username'|trans }}" id="username" name="username" required="required" class="form-control" />
            </form>
            <div class="col-sm-12 controls" style="padding-top:15px">
                <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="form-control btn btn-primary pull-left" />
            </div>
        </div>
        {% if invalid_username is defined %}
            <div class="error-reset alert alert-danger" role="alert">
                {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
            </div>
        {% endif %}
    </div>
</div>

