{% extends 'base.html.twig' %}

{% block content %}
    <div class="span9">
        <h2 style="text-align: center">{{ book.title }}</h2>
        <hr class="soft">
        <div class="row">
            <div class="span2">
                {% if app.user %}
                    <a href="{{ asset(book.documentUrl) }}" target="_blank">
                        <img src="{{ asset(book.imageUrl)|imagine_filter('show_image_book') }}" style="">
                    </a>
                {% else %}
                    <img src="{{ asset(book.imageUrl)|imagine_filter('show_image_book') }}" style="">
                {% endif %}
                {% if app.user is not null %}
                    <h4 style="text-align:center">

                    {% if not book.userReaderBook(app.user) %}
                        <a class="btn reader-button-action">Citita</a>
                    {% endif %}

                    {% if not book.userLikeBook(app.user) %}
                        <a class="btn btn-like like-button like-button-action">Like</a>
                    {% else %}
                        <button class="btn unlike-button like-button-action">Unlike</button>
                    {% endif %}

                    {% if not book.userWishListBook(app.user) %}
                        <a class="btn btn-primary whislist-button-action" style="margin-top: 5px">Adauga in
                            whistlist</a></h4>
                    {% endif %}
                {% endif %}
            </div>
            <div class="span7">
                <h5>Categorie: <a
                            href="{{ path('book_bundle.category_details',{'slug_name' : book.subcategory.name|sonata_slugify, 'id': book.subcategory.id}) }}">
                        <strong>{{ book.subcategory.name }}</strong>
                    </a>
                </h5>
                <h5>
                    {% if book.authors|length == 1 %}
                        Autor:
                        <a href="{{ path('book_bundle.author_details',{'slug_name': book.authors[0].getFullName|sonata_slugify, 'id': book.authors[0].id}) }}">
                            {{ book.authors[0].getFullName() }}
                        </a>
                    {% else %}
                        Autori:
                        {% for author in book.authors %}
                            <a href="{{ path('book_bundle.author_details',{'slug_name': author.getFullName|sonata_slugify, 'id': author.id}) }}">
                                {{ author.getFullName() }}
                            </a>
                            {% if not loop.last %}
                                {{ ',' }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </h5>
                <p>{{ book.description }}</p>
            </div>
        </div>
        {% if app.user %}
            <div class="whislist-wrapper">
                {% if book.userWishListBook(app.user) %}
                    <p><strong>Cartea a fost adaugata in lista de dorinte.</strong></p>
                {% endif %}
            </div>
            <div class="reader-wrapper">
                {% if book.userReaderBook(app.user) %}
                    <p><strong>Cartea a fost citita.</strong></p>
                {% endif %}
            </div>
            {{ include('@Activity/Like/book_like.html.twig', {'noLikes': book.like|length} ) }}
            <hr class="soft">
            {{ include('@Book/Block/slider_books_block.html.twig', {'books': book.subcategory.activeBooks, 'sliderTitle': 'Carti din aceeasi categorie'}) }}
            {{ include('@Activity/Comment/book_comments.html.twig', {'comments': book.comments, 'bookId': book.id} ) }}
        {% endif %}
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent () }}

    {% javascripts
    '@BookBundle/Resources/public/js/book_show/comments_management.js'
    '@BookBundle/Resources/public/js/book_show/reader_management.js'
    '@BookBundle/Resources/public/js/book_show/likes_management.js'
    '@BookBundle/Resources/public/js/book_show/whislist_management.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}