{% set firstLi = 1 %}
{% set displayNone = 0 %}
<ul id="sideManu" class="nav nav-tabs nav-stacked">

    {% for category in categories %}
        <li class="subMenu {% if firstLi == 1 %}{{ 'open' }}{% endif %}"><a>{{ category.name }}</a>
            <ul style="{% if displayNone == 1 %}{{ 'display:none' }}{% endif %}">
                {% for subcategory in category.subcategories %}
                    <li><a class="{% if firstLi == 1 %}{{ 'active' }}{% set firstLi = 0 %}{% endif %}">
                            <i class="icon-chevron-right"></i>{{ subcategory.name }}
                            {% if noActiveBooks[subcategory.id] !=  0 %}
                                <strong>{{ '[' }}{{ noActiveBooks[subcategory.id] }}{{ ']' }}</strong>
                            {% endif %}
                    </a></li>
                {% endfor %}
                {% set displayNone = 1 %}
            </ul>
        </li>
    {% endfor %}
</ul>