{% for mainFeaturedBook in mainFeaturedBooks %}
    <br>
    <div class="thumbnail">
        {#{{ dump() }}#}
        <a href="{{ path('book_bundle.show_book',{'slug_name': mainFeaturedBook.title|sonata_slugify, 'id': mainFeaturedBook.id}) }}">
            <img src="{{ asset(mainFeaturedBook.imageUrl)|imagine_filter('book_list') }}"
                 alt="{{ mainFeaturedBook.title }}"/>
        </a>
        <div class="caption">
            <h5>{{ mainFeaturedBook.title }}</h5>
        </div>
    </div>
{% endfor %}