{{ form_start(form, {'method': 'post', 'attr': {'class': 'form-horizontal'}}) }}
{% if not form.vars.valid %}
    <div class="alert alert-block alert-error fade in">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ form_errors(form.title) }}
        {{ form_errors(form.description) }}
        {{ form_errors(form.image) }}
        {{ form_errors(form.document) }}
        {{ form_errors(form.subcategory) }}
        {{ form_errors(form.authors) }}
    </div>
{% endif %}
<div class="control-group">
    {{ form_label(form.title, null, {'label_attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget (form.title, { attr : { class :"form-control" } }) }}
    </div>
</div>
<div class="control-group">
    {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget (form.description, { attr : { class :"form-control" } }) }}
    </div>
</div>
<div class="control-group">
    {{ form_label(form.image, null, {'label_attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget (form.image, { attr : { class :"form-control" } } ) }}
    </div>
</div>
<div class="control-group">
    {{ form_label(form.document, null, {'label_attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget (form.document, { attr : { class :"form-control" } } ) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.subcategory, null, {'label_attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget (form.subcategory, { attr : { class :"form-control" } } ) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.authors, null, {'label_attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget (form.authors, { attr : { class :"form-control" } } ) }}
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <input class="form-control btn btn-success" type="submit" id="_submit" name="_submit"
               value="{{ 'Adaugare carte' }}"/>
    </div>
</div>
{{ form_end(form) }}