{{ form_start(form, {'method': 'post', 'attr': {'class': 'form-horizontal'}}) }}
{% if not form.vars.valid %}
    <div class="alert alert-block alert-error fade in">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ form_errors(form.firstName) }}
        {{ form_errors(form.lastName) }}
        {{ form_errors(form.description) }}
        {{ form_errors(form.image) }}
    </div>
{% endif %}
<div class="control-group">
    {{ form_label(form.firstName, null, {'label_attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget (form.firstName, { attr : { class :"form-control" } }) }}
    </div>
</div>
<div class="control-group">
    {{ form_label(form.lastName, null, {'label_attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget (form.lastName, { attr : { class :"form-control" } }) }}
    </div>
</div>
<div class="control-group">
    {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget (form.description, { attr : { class :"form-control" } } ) }}
    </div>
</div>
<div class="control-group">
    {{ form_label(form.image, null, {'label_attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget (form.image, { attr : { class :"form-control" } } ) }}
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <input class="form-control btn btn-success" type="submit" id="_submit" name="_submit"
               value="{{ 'Adaugare autor' }}"/>
    </div>
</div>
{{ form_end(form) }}